.login-form {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
}
.login-form > button {
  margin-bottom: 16px;
}
.nav-link {
  width: 50%;
  height: 80px;
  border: 1px solid silver;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link ul{
  display: flex;
}

.nav-link li{
  margin-right: 16px;
}

.counter-page {
  width: 50%;
  height: 200px;
  border: 1px solid silver;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
